* {
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;

  color: black;
  background-color: white;
}

.App {min-height: 700px;}

.home {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  min-height: 1000px;
  background-image: url("https://images.pexels.com/photos/270756/pexels-photo-270756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.4;
}

.profile {
  margin-bottom: 100px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 50%;
  border-radius: 50px;
  box-shadow: 0 0 5px;
  z-index: 2;
}

.profile-image {
  display: flex;
  height: 300px;
  width: 300px;
  object-fit: cover;
  box-shadow: 0 0 5px;
  border-radius: 200px;
  overflow: hidden;
}

.projects, .not-deploy {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  border-radius: 50px;
  box-shadow: 0 0 5px;
  z-index: 2;
}

.project-li {
  margin: 0 25px 25px 0;
  float: left;
  height: 150px;
  width: 40%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  box-shadow: 0 0 5px;
  overflow-y: hidden;
}

.project-li:hover {opacity: 0.5;}

.project-li-img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}