* {
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  overflow-x: hidden;
  color: black;
  background-color: white;
}

.App {
  min-height: 700px;
  mix-blend-mode: unset;
  text-align: center;
  background-color: rgb(220, 220, 220);
}

.home {
  display: flex;
  justify-content: space-evenly;
  min-height: 700px;
  background-color: rgb(220, 220, 220);
}

.intro {
  padding: 25px 0;
  display: inline-flex;
  flex-direction: column;
  min-height: 600px;
  width: 50%;
  border-radius: 50px;
  box-shadow: 2px 2px 2px;
}

.profile-image {
  display: flex;
  height: 300px;
  width: 300px;
  box-shadow: 2px 2px 2px;
  border-radius: 200px;
  overflow-y: hidden;
}

.projects, .not-deploy {
  display: inline-block;
  min-height: 800px;
  width: 450px;
  border-radius: 50px;
  box-shadow: 2px 2px 2px;
}

.project-li {
  margin: 0 20px 20px 0;
  display: inline-block;
  float: left;
  height: 150px;
  width: 40%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
  overflow-y: hidden;
}

.project-li:hover {
  opacity: 0.5;
}

.project-li-img {
  height: 80%;
  width: 100%;
}